<!-- Author: @nama -->

<%- include("partials/head") %>
<%- include("partials/body") %>

<div class="breadcrumb">
    <h3>Dashboard</h3>
    <img src="../public/icon/icon-rightarrow.svg" alt="">
    <h4>Dashboard</h4>
</div>
<h1>Dashboard</h1>
<%- include("partials/list-order") %>
<%- include("partials/list-car") %>
<%- include("partials/fixed-dashboard") %>


<%- include("partials/footer") %>